﻿@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cairo:300,400,700,900&display=swap&subset=arabic");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cairo:300,400,700,900&display=swap&subset=arabic");
.text-grey {
  color: #676767;
}

.light-grey {
  color: #CECECE !important;
}

.main-blue {
  color: #0071BB;
}

.para, #text-section p {
  color: #676767;
  line-height: 26px;
}

.h1 {
  font-size: 50px !important;
}

.h2, .page-sub-title, .banner h1 {
  font-size: 43px !important;
}

.h3 {
  font-size: 40px !important;
}

.h4 {
  font-size: 33px !important;
}

.h5, #about-us .card .card-title {
  font-size: 31px !important;
}

.h6 {
  font-size: 27px !important;
}

.h7 {
  font-size: 20px !important;
}

.h8 {
  font-size: 13px !important;
}

.small-para {
  font-size: 14px;
  line-height: 26;
}

@media (max-width: 1200px) {
  .h1 {
    font-size: 42px !important;
  }
}

@media (max-width: 992px) {
  .h1 {
    font-size: 47px !important;
  }
  .h2, .page-sub-title, .banner h1 {
    font-size: 40px !important;
  }
  .h3 {
    font-size: 37px !important;
  }
  .h4 {
    font-size: 30px !important;
  }
  .h5, #about-us .card .card-title {
    font-size: 28px !important;
  }
  .h6 {
    font-size: 24px !important;
  }
  .h7 {
    font-size: 17px !important;
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 44px !important;
  }
  .h2, .page-sub-title, .banner h1 {
    font-size: 37px !important;
  }
  .h3 {
    font-size: 34px !important;
  }
  .h4 {
    font-size: 27px !important;
  }
  .h5, #about-us .card .card-title {
    font-size: 25px !important;
  }
  .h6 {
    font-size: 21px !important;
  }
  .h7 {
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 41px !important;
  }
  .h2, .page-sub-title, .banner h1 {
    font-size: 34px !important;
  }
  .h3 {
    font-size: 31px !important;
  }
  .h4 {
    font-size: 24px !important;
  }
  .h5, #about-us .card .card-title {
    font-size: 22px !important;
  }
}

.link {
  color: #0071BB;
}

.link:hover {
  color: #0071BB;
  text-decoration: none;
}

* {
  font-family: 'Work Sans', sans-serif;
  font-size-adjust: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body-wrapper {
  position: relative;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

div.wpcf7-mail-sent-ok {
  border: none !important;
  font-size: 17px;
}

.grey-section {
  background: #F5F5F5;
}

.grey-section-full-page {
  background: #F5F5F5;
  z-index: -100;
  height: 100%;
  position: absolute;
  width: 100vw;
}

.circle-sub {
  background: rgba(6, 7, 86, 0.17);
  height: 403px;
  width: 403px;
  border-radius: 50%;
  position: absolute;
  right: -150px;
  top: 30px;
  overflow-x: hidden;
  z-index: -1;
}

@media (max-width: 992px) {
  .circle-sub {
    height: 300px;
    width: 300px;
    right: -100px;
    top: -10px;
  }
}

@media (max-width: 768px) {
  .circle-sub {
    height: 300px;
    width: 300px;
  }
}

.page-sub-title {
  font-weight: 900;
  margin-bottom: 0;
  color: #0A0D67;
}

#pagination {
  text-align: left;
}

#pagination div {
  display: inline-block;
}

#pagination p {
  font-size: 15px;
  display: inline-block;
}

#pagination p:last-of-type {
  color: #676767;
}

@media (max-width: 786px) {
  #pagination .pages {
    display: none;
  }
}

#pagination .prev {
  cursor: pointer;
}

#pagination .prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 22px;
  height: 11px;
}

#pagination .prev p {
  color: #CECECE;
}

@media (max-width: 786px) {
  #pagination .prev {
    position: absolute;
    right: 0;
  }
}

#pagination .next {
  cursor: pointer;
}

#pagination .next svg {
  width: 22px;
  height: 11px;
}

#pagination .next p {
  color: #0071BB;
}

.alert {
  padding-right: 50px !important;
  background-color: #49BF1D;
  position: fixed;
  top: 15px;
  right: -10px;
  z-index: 8;
  border: none;
  border-radius: 22px 0 0 22px;
  height: auto;
}

.alert strong {
  font-size: 17px;
  color: #fff;
  margin-right: 50px;
}

.alert:before {
  content: '×';
  color: #fff;
  background: #44B51A;
  font-weight: 300;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 16px;
  border-radius: 22px 0 0 22px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  left: unset;
  padding: .75rem 1.25rem;
  color: white !important;
  background: #44B51A;
  border-radius: 22px 0 0 22px;
  text-shadow: none;
  font-weight: 300;
}

.alert-dismissible .close:hover {
  color: white !important;
}

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  padding: 0;
}

.breadcrumb li a {
  text-decoration: none;
  color: grey;
}

.breadcrumb li:nth-child(1) a {
  color: #4A93C8;
}

@media (max-width: 992px) {
  #about-us-hero p {
    width: 100% !important;
  }
}

#about-us-hero .banner-about {
  background: url("../img/about-us-4.jpg");
  width: 100%;
  min-height: 50vh;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-us-hero .overlay-about {
  position: relative;
  background: rgba(24, 126, 193, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-us section:nth-of-type(even) .cont {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  #about-us section:nth-of-type(even) .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about-us section:nth-of-type(even) .card {
  -webkit-transform: translate(-20%, 0);
          transform: translate(-20%, 0);
}

@media (max-width: 1100px) {
  #about-us section:nth-of-type(even) .card {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    width: 90vw;
    height: auto;
  }
}

#about-us section:nth-of-type(even) .img-cont {
  margin-right: 0;
  margin-left: auto;
  height: 400px;
  width: 0;
}

#about-us section:nth-of-type(even) .animate {
  -webkit-animation: width-anim 2s;
          animation: width-anim 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#about-us .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  #about-us .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about-us .card {
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
  width: 60%;
  min-height: 275px;
  height: auto;
  border-radius: 22px;
  border: 0;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
  #about-us .card {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    width: 90vw;
    height: auto;
  }
}

#about-us .card .card-title {
  font-weight: bold;
  width: 80%;
  line-height: 1;
}

@media (max-width: 586px) {
  #about-us .card .card-title {
    width: 40%;
  }
}

#about-us .img-cont {
  max-width: 90%;
  height: auto;
  margin-right: auto;
  height: 400px;
}

#about-us .hidden {
  width: 0;
}

#about-us .animate {
  -webkit-animation: width-anim 2s;
          animation: width-anim 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes width-anim {
  0% {
    width: 0;
  }
  100% {
    width: 677px;
  }
}

@keyframes width-anim {
  0% {
    width: 0;
  }
  100% {
    width: 677px;
  }
}

#insurance-logos {
  padding: 100px 0 !important;
  width: 100%;
}

#insurance-logos img {
  width: auto;
  height: auto;
  float: left;
  text-align: center;
  height: 122px;
  margin-bottom: 5%;
  padding: 0 30px;
}

#news-page {
  padding: 100px 0;
}

#news-page .news {
  display: inline;
}

#news-page .view-all-link {
  text-decoration: none;
  color: #0071BB;
  float: left;
}

#news-page .view-all-link:hover, #news-page .view-all-link:visited {
  color: #0071BB;
}

#news-page .card {
  border: none;
}

#news-page .card-img {
  border-radius: 1.375rem;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
}

#news-page .card-img-overlay {
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 38, 60, 0)), to(#04263c));
  background: linear-gradient(180deg, rgba(4, 38, 60, 0) 0%, #04263c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04263c",endColorstr="#04263c",GradientType=1);
  border-radius: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#news-page .card-img-overlay a {
  color: #fff;
}

#news-page .card-img-overlay a:hover {
  color: #fff;
  text-decoration: none;
}

#news-page .card-img-overlay .card-date-news {
  font-size: 0.7rem;
  background: #0071BB;
  min-width: 82px;
  min-height: 82px;
  padding: 15px;
  color: #fff;
  border-radius: 0 22px 0 22px;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news-page .card-img-overlay .card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 22px 22px;
}

#news-page .owl-dots {
  padding-top: 42px;
}

#news-page .owl-theme .owl-dots .owl-dot span {
  background: #676767;
}

#news-page .owl-theme .owl-dots .owl-dot.active span, #news-page .owl-theme .owl-dots .owl-dot:hover span {
  background: #0071BB;
}

#news-page .owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

@media (max-width: 992px) {
  #news-page .news {
    display: block !important;
  }
  #news-page .view-all-link {
    float: right !important;
  }
}

#news-single .h6 {
  font-size: 25px;
  color: #676767;
}

@media (max-width: 992px) {
  #news-single .h6 {
    width: 85% !important;
  }
}

#careers {
  padding: 100px 0;
}

@media (max-width: 992px) {
  #careers .w-75 {
    width: 100% !important;
  }
}

#careers .attach-img {
  background: url(../img/attach.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  display: inline;
  margin-right: 4px;
  margin-left: 10px;
  cursor: pointer;
}

#careers .attach-img:hover {
  cursor: pointer;
}

#careers h5:first-of-type {
  width: 50%;
}

@media (max-width: 992px) {
  #careers h5:first-of-type {
    width: 25%;
  }
}

#careers input {
  width: 100% !important;
  margin-bottom: 48px !important;
}

@media (max-width: 568px) {
  #careers input {
    width: 100% !important;
  }
}

#careers .submit-file {
  position: absolute !important;
  left: 0 !important;
  z-index: 1 !important;
}

#careers .fileToUpload {
  cursor: pointer;
  display: inline;
  position: relative;
  left: 0;
  top: -35px;
  z-index: 2;
  opacity: 0;
}

#careers .attach {
  color: #0071BB;
  cursor: pointer;
}

#careers textarea {
  height: 116px;
  width: 100%;
}

#careers input[type='file'] {
  margin-bottom: 16px !important;
}

#careers input[type='file']:hover {
  cursor: pointer;
}

#careers .btn {
  border: none;
  background: #0071BB;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  min-width: 150px;
  width: 48%;
  font-size: 13px;
  position: unset;
  margin: 0 !important;
  position: absolute;
  left: 0;
  text-transform: uppercase;
}

#careers .btn:hover .img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#careers input[type='submit'] {
  margin-bottom: 0 !important;
  background: none;
  border: none;
  position: relative;
  top: 5px;
  color: white;
  display: inline-block;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

#faqs {
  padding: 100px 0;
}

#faqs button {
  display: inline-block;
  margin-right: auto;
}

#faqs .card {
  border: 0;
}

#faqs .card-header {
  line-height: 60px;
  padding: 0;
  border-radius: 22px;
  border: 0;
  background: #F8F8F8;
  height: 60px;
  z-index: 2;
}

#faqs .card-header p {
  display: inline-block;
  padding-right: 48px;
  font-size: 18px;
  color: #676767;
  width: 90%;
  line-height: 1.5;
}

#faqs .card-body {
  background: #F8F8F8;
  border-radius: 0 0 22px 22px;
  padding-top: 40px;
  position: relative;
  bottom: 10px;
}

#faqs .btn {
  border-radius: 0 22px 22px 0;
  width: 54px;
  min-width: 54px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s;
}

#faqs .btn[aria-expanded="true"] {
  border-radius: 22px 0 22px;
}

#faqs .collapse-arrow {
  content: '';
  display: block;
  background: url("../img/arrow-up-small.png") no-repeat 0px 0px;
  height: 22px;
  /*height of icon */
  width: 11px;
  /*width of icon */
  position: absolute;
  top: -7px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 40%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#faqs .collapse-arrow[aria-expanded="true"] {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 7px;
}

.booking-div {
  height: 71px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .booking-div {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

.booking-div .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background: #004E82;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 35%;
  text-align: center;
  border-radius: 22px;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.booking-div .book p {
  margin-bottom: 0;
}

.booking-div .book a {
  color: #fff;
}

.booking-div .book a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .booking-div .book {
    position: absolute;
    min-height: 70px;
  }
}

.booking-div .phone {
  display: inline-block;
  height: auto;
  padding: 10px;
  background: #7C8991;
  color: #fff;
  font-size: 14px;
  width: 35%;
  border-radius: 22px;
  padding-right: 100px;
  z-index: -1;
}

.booking-div .phone p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .booking-div {
    margin-right: 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .booking-div .phone {
    position: absolute;
    min-height: 140px !important;
    padding-right: auto;
    padding-top: 80px;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    margin-top: 70px;
    width: 90% !important;
  }
  .booking-div .book {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 90% !important;
  }
  .booking-div .book a {
    color: #fff;
  }
  .booking-div .book a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.promotions-page {
  background: none !important;
  padding: 5% 0 10% 0 !important;
  padding-top: 100px !important;
}

.promotions-page .card {
  cursor: pointer;
}

@media (max-width: 992px) {
  .doctors-page {
    padding-top: 20% !important;
  }
}

@media (max-width: 578px) {
  .doctors-page {
    padding-top: 30% !important;
  }
}

.doctors-page .card-title {
  font-size: 17px;
}

#tabs-page {
  padding: 100px 0 100px 0;
}

#tabs-page a:hover {
  color: #187EC1 !important;
}

@media (max-width: 768px) {
  #tabs-page .specialties-nav {
    display: none;
  }
  #tabs-page .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 70px;
  }
}

#tabs-page .specialties-nav a:visited, #tabs-page .specialties-nav a:hover {
  color: #0071BB;
}

#tabs-page .specialties-nav a {
  text-decoration: none;
}

#tabs-page .specialties-select {
  border: 1px solid #187EC1;
  border-radius: 22px;
  width: 80%;
  height: 30px;
  display: none;
}

@media (max-width: 768px) {
  #tabs-page .specialties-select {
    display: block;
  }
}

#tabs-page .nav-tabs {
  border: none;
  width: 80%;
}

@media (max-width: 767px) {
  #tabs-page .nav-tabs {
    display: none;
  }
}

#tabs-page .nav-tabs .nav-link {
  padding: 18px 24px 18px 24px;
  margin-right: 50px;
  border-bottom: 1px solid #E8E8E8;
}

#tabs-page .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 0;
}

#tabs-page .nav-tabs .nav-link.active:before {
  content: '';
  background: url("../img/Blue-arrow.png") no-repeat 0px 0px;
  height: 22px;
  /*height of icon */
  width: 11px;
  /*width of icon */
  position: absolute;
  height: 11px;
  width: 22px;
  right: 60px;
  margin-top: 8px;
  display: block;
  color: #187EC1;
}

#tabs-page .nav-tabs .nav-link:hover {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  color: #187EC1 !important;
}

#tabs-page .tab-pane.active {
  z-index: -1;
  -webkit-animation: slide-down 1s ease-out;
          animation: slide-down 1s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#tabs-page .nav-pills .nav-link.active, #tabs-page .nav-pills .show > .nav-link {
  color: #187EC1;
  background: none;
}

#tabs-page .nav-tabs-dropdown {
  background-color: #fff !important;
  opacity: 1;
  border: 1px solid #187EC1;
  border-radius: 22px;
  width: 80vw;
}

@media (min-width: 768px) {
  #tabs-page .nav-tabs-dropdown {
    display: none;
  }
}

#tabs-page .nav-tabs-dropdown .dropdown-menu {
  width: 100%;
  border: none;
  border-radius: 11px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

#tabs-page .tab-pane {
  position: relative;
}

#tabs-page .tab-pane img {
  position: absolute !important;
  width: 100vw;
  top: -335px;
  left: -15px;
  z-index: -3;
}

@media (min-width: 1400px) {
  #tabs-page .tab-pane img {
    top: -370px;
    left: -15px;
  }
}

@media (max-width: 992px) {
  #tabs-page .tab-pane img {
    top: -280px;
  }
}

@media (max-width: 786px) {
  #tabs-page .tab-pane img {
    width: 160vw;
    top: -315px;
    right: -350px;
  }
}

@media (max-width: 576px) {
  #tabs-page .tab-pane img {
    width: auto;
    height: 400px;
    top: -350px;
    right: -200px;
  }
}

#tabs-page .tab-pane .overlay {
  position: absolute;
  top: -335px;
  left: -15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.22)), color-stop(50%, white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, white 50%);
  height: 850px;
  width: 200vw;
  z-index: -2;
}

@media (min-width: 1400px) {
  #tabs-page .tab-pane .overlay {
    top: -370px;
  }
}

@media (max-width: 992px) {
  #tabs-page .tab-pane .overlay {
    top: -280px;
    height: 660px;
  }
}

@media (max-width: 786px) {
  #tabs-page .tab-pane .overlay {
    width: 160vw;
    height: 500px;
    top: -315px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.22)), color-stop(70%, white));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, white 70%);
  }
}

@media (max-width: 576px) {
  #tabs-page .tab-pane .overlay {
    width: 160vw;
    height: 500px;
    top: -350px;
  }
}

#tabs-page .tab-pane p {
  line-height: 2;
}

#tabs-page .tab-pane .h5, #tabs-page .tab-pane #about-us .card .card-title, #about-us .card #tabs-page .tab-pane .card-title {
  color: #0A0D67;
  font-weight: 900;
  padding-bottom: 16px;
  text-transform: uppercase;
}

#tabs-page .tab-pane h6 {
  color: #676767;
  font-size: 17px;
  font-weight: bold;
}

#tabs-page .tab-pane ul {
  list-style: none;
}

#tabs-page .tab-pane ul li {
  font-size: 13px;
  color: #676767;
  padding: 8px 0;
}

#tabs-page .tab-pane ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F111";
  color: #187EC1;
  font-weight: bold;
  display: inline-block;
  font-size: 7px;
  margin-left: 15px;
}

#specialties {
  padding: 10% 0 10% 0;
}

@media (min-width: 768px) {
  #specialties .specialties-select {
    display: none;
  }
}

@media (max-width: 768px) {
  #specialties .specialties-nav {
    display: none;
  }
  #specialties .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 70px;
  }
}

#specialties .specialties-nav a:visited, #specialties .specialties-nav a:hover {
  color: #0071BB;
}

#specialties .specialties-nav a {
  text-decoration: none;
}

#specialties .specialties-nav img {
  width: 40px;
  height: 30px;
  fit-position: cover;
  -o-object-fit: contain;
     object-fit: contain;
  object-positon: center;
}

#specialties .specialties-select {
  border: 1px solid #187EC1;
  border-radius: 22px;
  width: 80%;
  height: 30px;
}

#specialties .owl-drag {
  padding-top: 0px !important;
}

#specialties .col-md-4 ul li {
  padding: 16px;
  padding-right: 32px;
  border-bottom: 1px solid #E5E5E5;
  border-width: 30%;
  color: #187EC1;
  cursor: pointer;
  list-style: none;
  display: block;
}

#specialties .col-md-4 li.active:before {
  content: '';
  background: url("../img/Blue-arrow.png") no-repeat 0px 0px;
  height: 22px;
  /*height of icon */
  width: 11px;
  /*width of icon */
  position: absolute;
  height: 11px;
  width: 22px;
  right: 60px;
  margin-top: 10px;
  display: block;
}

#specialties .content .h5, #specialties .content #about-us .card .card-title, #about-us .card #specialties .content .card-title {
  color: #0A0D67;
  font-weight: 900;
}

#specialties .content .h6 {
  color: #696969;
  font-weight: 900;
  text-transform: uppercase;
}

#specialties .content ul {
  list-style: none;
}

#specialties .content ul li {
  font-size: 13px;
  color: #676767;
}

#specialties .content ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F111";
  color: #187EC1;
  font-weight: bold;
  display: inline-block;
  font-size: 7px;
  margin-left: 15px;
}

#specialties .overlay {
  position: absolute;
  top: -335px;
  left: -15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.22)), color-stop(50%, white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, white 50%);
  height: 850px;
  width: 200vw;
  z-index: -2;
}

@media (min-width: 1400px) {
  #specialties .overlay {
    top: -370px;
    left: -15px;
  }
}

@media (max-width: 992px) {
  #specialties .overlay {
    top: -280px;
    height: 660px;
  }
}

@media (max-width: 786px) {
  #specialties .overlay {
    width: 160vw;
    height: 500px;
    top: -280px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.22)), color-stop(70%, white));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, white 70%);
  }
}

@media (max-width: 576px) {
  #specialties .overlay {
    width: 160vw;
    height: 500px;
    top: -350px;
  }
}

#specialties .tab-img {
  position: absolute !important;
  width: 100vw;
  top: -335px;
  left: -15px;
  z-index: -3;
}

@media (min-width: 1400px) {
  #specialties .tab-img {
    top: -370px;
    left: -15px;
  }
}

@media (max-width: 992px) {
  #specialties .tab-img {
    top: -280px;
  }
}

@media (max-width: 786px) {
  #specialties .tab-img {
    width: 160vw;
    top: -315px;
    right: -350px;
  }
}

@media (max-width: 576px) {
  #specialties .tab-img {
    width: auto;
    height: 400px;
    top: -350px;
    right: -200px;
  }
}

#specialties .booking-div {
  margin: 0 16px;
}

@media (max-width: 768px) {
  #specialties .booking-div {
    margin-bottom: 30%;
  }
}

#specialties .booking-div .book a {
  color: #fff;
}

#specialties .booking-div .book a:hover {
  color: #fff;
  text-decoration: none;
}

#specialties .card {
  min-height: 700px !important;
  border-radius: 1.375rem;
  overflow: hidden;
}

#specialties .card .card-img {
  min-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#contact-us b, #contact-us p {
  font-size: 14px;
  color: #676767;
}

#contact-us .h5, #contact-us #about-us .card .card-title, #about-us .card #contact-us .card-title {
  color: #04263C;
}

#contact-us img {
  position: absolute;
  top: -187px;
  left: 0;
  max-width: 90%;
  height: auto;
}

@media (max-width: 1200px) {
  #contact-us img {
    float: right;
  }
}

#contact-us .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 350px;
}

@media (max-width: 1200px) {
  #contact-us .contact-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 48px;
    padding-bottom: 250px;
    padding-top: 5%;
  }
}

#contact-us .working-hours {
  position: relative;
  -webkit-transform: translate(65%, 60%);
          transform: translate(65%, 60%);
  max-width: 455px;
  height: 355px;
  background: white;
  border-radius: 1.375rem;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media (max-width: 1200px) {
  #contact-us .working-hours {
    height: auto;
    width: auto;
    -webkit-transform: none;
            transform: none;
    margin: 0 20px 0 20px;
    margin-top: 100px;
    margin-bottom: 20%;
  }
}

@media (max-width: 576px) {
  #contact-us .working-hours {
    margin-top: -25px;
  }
}

#contact-us .working-hours .btn:hover .img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media (max-width: 768px) {
  #book-appointment .col-md-4 {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
}

@media (max-width: 992px) {
  #book-appointment .col-md-4 img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  #book-appointment .w-75 {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  #book-appointment h5 {
    padding-top: 50px;
  }
}

#book-appointment input, #book-appointment select {
  font-size: 14px;
  width: 100%;
  margin-bottom: 48px;
}

@media (max-width: 568px) {
  #book-appointment input, #book-appointment select {
    width: 100%;
  }
}

#book-appointment input::-webkit-input-placeholder, #book-appointment select::-webkit-input-placeholder {
  color: #999;
}

#book-appointment input:-ms-input-placeholder, #book-appointment select:-ms-input-placeholder {
  color: #999;
}

#book-appointment input::-ms-input-placeholder, #book-appointment select::-ms-input-placeholder {
  color: #999;
}

#book-appointment input::placeholder, #book-appointment select::placeholder {
  color: #999;
}

#book-appointment input[name="date-time"] {
  color: #999;
}

@media (max-width: 992px) {
  #book-appointment input[name="date-time"] {
    margin-top: 48px;
  }
}

#book-appointment select {
  border: 0;
  border-bottom: 1px solid #A2A2A2;
  padding-bottom: 14px;
  color: #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 40px;
}

#book-appointment label.wrap {
  width: 100%;
  overflow: hidden;
  height: 50px;
  position: relative;
  display: block;
}

#book-appointment label.wrap:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  content: "\f078";
  color: #676767;
  position: absolute;
  left: 0;
  top: 18px;
  z-index: 1;
  width: 5%;
  height: 100%;
  pointer-events: none;
}

#book-appointment textarea {
  height: 116px;
  width: 100%;
}

#book-appointment .btn {
  border: none;
  background: #0071BB;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  min-width: 150px;
  width: 48%;
  font-size: 13px;
  position: unset;
  margin: 0 !important;
  left: 0;
  text-transform: uppercase;
}

#book-appointment .btn:hover .img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#book-appointment input[type='submit'] {
  margin-bottom: 0 !important;
  background: none;
  border: none;
  position: relative;
  top: 5px;
  color: white;
  display: inline-block;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  text-transform: uppercase;
}

#search-page {
  padding: 100px 0;
}

#search-page .search-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  border-radius: 22px;
}

#search-page .search-card .text-content {
  padding: 20px 20px 0 20px;
}

#search-page .search-card .title {
  font-size: 18px;
  font-weight: 700;
  color: #676767;
}

#search-page .search-card .visit-page {
  background-position: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0071BB;
  width: 54px;
  height: 60px;
  border-radius: 22px 0 22px 0;
}

#text-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

#text-section p {
  font-size: 15px;
}

#doctors-single {
  padding: 100px 0;
}

#doctors-single .card {
  min-height: 650px;
  height: auto;
  width: 100%;
  border: 0;
  border-radius: 1.375rem;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

#doctors-single .card .card-img {
  width: 100%;
  height: 650px;
  min-height: auto;
  border-radius: 22px 0 0 22px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (max-width: 768px) {
  #doctors-single .card .card-img {
    height: auto;
    border-radius: 22px 22px 0 0;
  }
}

#doctors-single .card .card-body .cont {
  padding: 5rem;
}

#doctors-single .card .card-body .cont p a:hover {
  color: #0071BB;
  text-decoration: none;
}

@media (max-width: 768px) {
  #doctors-single .card .card-body .cont {
    margin-bottom: 150px;
  }
}

@media (max-width: 578px) {
  #doctors-single .card .card-body .cont {
    padding: 5% !important;
  }
}

#doctors-single .card h6 {
  font-weight: 900;
  color: #04263C;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #doctors-single .card h6 {
    padding-top: 24px;
  }
}

#doctors-single .card .h7 {
  color: #187EC1;
}

#doctors-single .card ul {
  list-style: none;
  padding-right: 0px;
}

#doctors-single .card ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F111";
  color: #187EC1;
  font-weight: bold;
  display: inline-block;
  font-size: 7px;
  margin-left: 15px;
}

#doctors-single .booking-div {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 71px;
}

#doctors-single .booking-div .container {
  padding-right: 0;
}

@media (max-width: 1200px) {
  #doctors-single .booking-div {
    margin-bottom: 21px;
  }
}

@media (max-width: 768px) {
  #doctors-single .booking-div {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#doctors-single .booking-div .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background: #004E82;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  border-radius: 22px 0 22px 0;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  z-index: 2;
}

#doctors-single .booking-div .book p {
  margin-bottom: 0;
}

#doctors-single .booking-div .book a {
  color: #fff !important;
}

#doctors-single .booking-div .book a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  #doctors-single .booking-div .book {
    width: 100%;
    position: absolute;
    min-height: 70px;
  }
}

#doctors-single .booking-div .phone {
  display: inline-block;
  height: auto;
  padding: 10px;
  background: #7C8991;
  color: #fff;
  font-size: 14px;
  width: 50%;
  border-radius: 22px 0 22px 0;
  padding-right: 100px;
  z-index: 1;
}

#doctors-single .booking-div .phone p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #doctors-single .booking-div {
    margin-right: 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #doctors-single .booking-div .phone {
    position: absolute;
    min-height: 140px !important;
    padding-right: auto;
    padding-top: 80px;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    margin-top: 70px;
    width: 95% !important;
    position: absolute;
    bottom: -60px;
    border-radius: 22px;
  }
  #doctors-single .booking-div .book {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 95% !important;
    position: absolute;
    bottom: 80px;
    border-radius: 22px;
  }
  #doctors-single .booking-div .book a {
    color: #fff;
  }
  #doctors-single .booking-div .book a:hover {
    color: #fff;
    text-decoration: none;
  }
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.img {
  background: url("../img/arrow.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 22px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0 4px;
}

.img-blue {
  background: url("../img/Blue-arrow.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 22px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0 4px;
  display: inline-block;
}

.img-grey-next {
  background: url("../img/right-arrow-grey.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 22px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0 4px;
  display: inline-block;
}

.img-grey-prev {
  background: url("../img/left-arrow-grey.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 22px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0 4px;
  display: inline-block;
}

.form input {
  border: none;
  border-bottom: 1px solid #999;
  width: 90%;
  padding-bottom: 8px;
}

.form button {
  border: none;
  position: absolute;
  left: 10%;
}

.form textarea {
  border: none;
  border-bottom: 1px solid #A2A2A2;
}

.form ::-webkit-input-placeholder {
  font-size: 14px;
}

.form :-ms-input-placeholder {
  font-size: 14px;
}

.form ::-ms-input-placeholder {
  font-size: 14px;
}

.form ::placeholder {
  font-size: 14px;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100%;
  z-index: 1000;
  overflow: visible;
  background: url("../img/Preloader.gif") no-repeat center center;
}

.view-all-link img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.view-all-link:hover img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.banner .overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.302959)));
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0.302959) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#offers .card-img-overlay .card-link {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0071BB;
  color: #fff;
  border-radius: 22px 0 22px 0;
  text-align: center;
  display: inline-block;
}

#offers .card-img-overlay .card-link {
  border-radius: 0 22px 0 22px;
}

.btn {
  background: #0071BB;
  border: none;
  border-radius: 50px;
  width: 240px;
  min-width: 240px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn:hover {
  background: #0071BB;
}

.btn img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btn:hover img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@-webkit-keyframes show-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fff;
  }
}

@keyframes show-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fff;
  }
}

@-webkit-keyframes expand-link {
  0% {
    width: 15%;
    margin-right: 85%;
  }
  100% {
    width: 80%;
    margin-right: 20%;
  }
}

@keyframes expand-link {
  0% {
    width: 15%;
    margin-right: 85%;
  }
  100% {
    width: 80%;
    margin-right: 20%;
  }
}

@media (max-width: 992px) {
  #provide .owl-carousel {
    padding-top: 80px;
  }
  #doctors .owl-carousel {
    padding-top: 80px;
  }
  #offers .owl-carousel {
    padding-top: 80px;
  }
  #news .owl-carousel {
    padding-top: 50px;
  }
}

@media (max-width: 992px) {
  .container, .container-fluid {
    max-width: 100%;
  }
  .container-fluid {
    padding: 15px !important;
  }
}

#maps .card-link {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #0071BB;
  color: #fff;
  border-radius: 22px 0 22px 0;
  text-align: center;
  width: 15%;
  margin-right: 85%;
  height: 60px;
}

#maps .card-link-arrow {
  position: absolute;
  right: 10%;
}

#maps .card-link:hover {
  -webkit-animation-name: expand-link;
          animation-name: expand-link;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

#maps .card-link-text {
  opacity: 0;
}

#maps .card-link:hover .card-link-text {
  opacity: 0;
  color: #fff;
  -webkit-animation-name: show-text;
          animation-name: show-text;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#maps .btn:hover .img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/* header */
.header {
  display: block;
  height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  z-index: 10;
}

.header .nav-bar {
  padding: 0 !important;
  padding-top: 15px !important;
}

.header .dropdown .dropdown-menu {
  padding: 0;
  top: 38px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  display: block;
  background: #CECECE;
  border: none;
  border-radius: 0;
}

.header .dropdown .dropdown-menu .dropdown-title {
  display: none;
}

.header .dropdown .dropdown-toggle::after {
  display: none;
}

.header .dropdown:hover .dropdown-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header .dropdown:hover .dropdown-item {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  color: #187EC1 !important;
}

.header .dropdown .dropdown-item {
  font-size: 0.8rem;
  opacity: 0;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.header .dropdown .dropdown-item:hover {
  background-color: #CECECE;
}

.header .nav-item:last-child {
  padding-left: 0;
}

@media (max-width: 1150px) {
  .header .nav-item {
    padding: 0 4px !important;
  }
}

.header .nav-link {
  text-transform: uppercase;
  padding-right: 2rem;
  padding-left: 2rem;
}

.header .nav-link:last-of-type {
  padding-left: 0 !important;
}

.header .navbar-expand {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
}

.header .arabic {
  font-family: 'Cairo', sans-serif !important;
  font-size: 16px;
  color: #04263C;
  text-decoration: none;
  border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
}

@media (max-width: 992px) {
  .header .arabic {
    margin-top: 15px;
  }
}

.header .arabic a {
  text-decoration: none;
}

.header .social-icons {
  padding-right: 12px;
}

.header form .search::-webkit-input-placeholder {
  font-size: 12px;
  color: #999;
}

.header form .search:-ms-input-placeholder {
  font-size: 12px;
  color: #999;
}

.header form .search::-ms-input-placeholder {
  font-size: 12px;
  color: #999;
}

.header form .search::placeholder {
  font-size: 12px;
  color: #999;
}

@media (max-width: 992px) {
  .header form {
    margin-top: 15px;
  }
}

.header a {
  color: #000 !important;
}

.header .col-9 .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .input-group-text {
  background: none;
  border: none;
}

.header .form-control {
  border: none;
  background: none;
}

.header .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header button {
  background: none;
  border: none;
}

.header button:focus {
  outline: none;
}

@media (max-width: 992px) {
  .header .form-inline {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row nowrap !important;
            flex-flow: row nowrap !important;
  }
  .header .logo {
    height: 37.5px;
    width: 62.5px;
  }
  .header form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 60%;
  }
  .header .col-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .arabic {
    padding-left: 0 !important;
    border-left: 0;
  }
  .header .hide-nav {
    display: none;
  }
  .header .search {
    -webkit-transform: all 3s linear 0s;
            transform: all 3s linear 0s;
  }
}

@media (min-width: 992px) {
  .header .dropdown-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .dropdown-item {
    border-bottom: 1px solid #fff;
  }
}

/* end of header */
/* main menu */
@media (max-width: 992px) {
  #main-menu .nav-item {
    display: none;
  }
  #main-menu > ul > li {
    display: none;
  }
  #main-menu li:last-child {
    text-align: center;
    display: block !important;
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #main-menu li:nth-last-child(2) {
    padding: 0 !important;
    text-align: center;
    display: block;
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#main-menu .dropdown .dropdown-menu {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  display: block;
  padding: 0;
}

#main-menu .dropdown .dropdown-menu .dropdown-title {
  display: none;
}

#main-menu .dropdown:hover .dropdown-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#main-menu .dropdown:hover .dropdown-item {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#main-menu .dropdown .dropdown-item {
  opacity: 0;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#main-menu .dropdown .dropdown-item:hover {
  background-color: #136092;
}

#main-menu .navbar-light {
  padding: 0;
  background: #0071BB !important;
}

#main-menu .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color: white !important;
  font-size: 0.8rem;
  padding: 16px 0;
}

#main-menu .appointment {
  padding: 0 48px;
  background-color: #004E82;
}

#main-menu .dropdown-toggle:after {
  content: none;
}

#main-menu .dropdown-menu {
  margin: -1px 0 0 0;
  border-radius: 0;
  background-color: #136092;
  text-transform: capitalize;
}

#main-menu .dropdown-menu .dropdown-item {
  color: #fff !important;
  font-size: 0.8rem;
}

#main-menu .dropdown-menu .dropdown-divider {
  border-top: 1px solid #094F7D;
}

@media (min-width: 992px) {
  #main-menu .dropdown-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #main-menu .dropdown-item {
    border-bottom: 1px solid #0E5787;
  }
}

/* End of main menu */
@media (min-width: 992px) {
  #res-menu {
    display: none !important;
  }
  .res-dropdown-content {
    display: none;
  }
  .dropdown-item {
    color: #000;
  }
  .dropdown-title-text {
    display: none;
  }
  .dropdown-title-text:before {
    display: none;
  }
}

@media (max-width: 992px) {
  #menu-primary:first-child {
    margin-left: 0 !important;
  }
  .res-dropdown-content {
    visibility: hidden;
    opacity: 0;
    background: #0071BB;
    padding: 5%;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 51;
    -webkit-transition: .7s;
    transition: .7s;
    overflow: hidden;
  }
  .res-dropdown-content .res-close {
    font-weight: bold;
    color: #fff !important;
    cursor: pointer;
  }
  .res-dropdown-content li {
    list-style-type: none;
    padding: 20px 20px;
  }
  .res-dropdown-content li a {
    font-size: 13px;
    font-weight: bold;
  }
  #res-menu .white-div ul li.nav-item a {
    margin-right: 0px !important;
  }
  #res-menu .blue-div ul li a {
    margin-right: 0px !important;
  }
  #res-menu {
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100vw;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 50;
    -webkit-transition: .7s;
    transition: .7s;
  }
  #res-menu li .nav-item .dropdown {
    position: static;
  }
  #res-menu .navbar-nav .dropdown-menu {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: all 1s linear 0s;
            transform: all 1s linear 0s;
  }
  #res-menu .navbar-nav .dropdown-menu .dropdown-divider {
    display: none;
  }
  #res-menu .navbar-nav .dropdown-menu a .nav-link .ml-5 {
    margin-right: 0 !important;
  }
  #res-menu .close-icon {
    position: absolute;
    left: 50px;
    text-align: left;
    cursor: pointer;
  }
  #res-menu .white-div {
    background: #fff;
  }
  #res-menu .white-div ul {
    padding: 0px;
  }
  #res-menu .white-div ul:first-child {
    margin: 0 !important;
  }
  #res-menu .white-div ul li a {
    color: #000;
    padding-right: 25px;
  }
  #res-menu .white-div ul li a:hover {
    color: #000;
    text-decoration: none;
  }
  #res-menu .white-div ul li a li {
    list-style-type: none;
  }
  #res-menu .white-div ul .dropdown-menu {
    background: #CECECE !important;
  }
  #res-menu .white-div ul .dropdown-menu li a {
    color: #187EC1;
  }
  #res-menu .white-div ul .dropdown-menu li a:hover {
    background: #CECECE;
  }
  #res-menu .white-div ul .dropdown-toggle {
    position: static;
  }
  #res-menu .white-div ul .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    padding-left: 30px !important;
  }
  #res-menu .white-div ul .dropdown-title-text:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    cursor: pointer;
  }
  #res-menu .blue-div {
    background: #0071BB;
    font-weight: bold;
  }
  #res-menu .blue-div ul li a {
    color: #fff;
    font-weight: bold;
  }
  #res-menu .blue-div ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
  }
  #res-menu .blue-div .second-main-res #menu-primary .nav-item:first-of-type {
    margin-left: 0 !important;
  }
  #res-menu .blue-div .dropdown-menu {
    background: #0071BB !important;
  }
  #res-menu .blue-div .dropdown-toggle {
    position: static;
  }
  #res-menu .blue-div .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    padding-left: 30px !important;
  }
  #res-menu .blue-div .dropdown-title-text:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    cursor: pointer;
  }
  #res-menu li {
    list-style-type: none;
    padding: 30px 20px  20px 30px;
  }
  #res-menu a {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

/* banner */
.banner {
  background: url("../img/main slide.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
}

.banner h1 {
  width: 50%;
  color: #04263C;
  font-weight: 900;
}

.banner .overlay {
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle {
  background: rgba(6, 7, 86, 0.8);
  opacity: 0.8;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  top: 600px;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  .circle {
    left: -150px;
    bottom: -250px;
  }
}

@media (max-width: 768px) {
  .circle {
    left: -200px;
    bottom: -250px;
  }
}

@media (max-width: 768px) {
  .banner h1 {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .banner h1 {
    width: 90%;
  }
}

/* End of Banner */
/* ##### Provide ###### */
#provide {
  padding: 10% 0 10% 0;
  background: #F5F5F5;
}

#provide .card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0071BB;
  color: #fff;
  border-radius: 22px 0 22px 0;
  text-align: center;
  width: 54px;
  margin-right: auto;
  height: 44px;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s;
}

#provide .all-card-text {
  min-height: 256px;
}

#provide .card-link:hover {
  width: 250px;
}

#provide .card-link:hover .card-link-text {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#provide .card-link-arrow {
  position: absolute;
  left: 3%;
}

#provide .card-link-text {
  font-size: 0.7rem;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity .2s linear 0s;
  transition: opacity .2s linear 0s;
}

#provide a {
  color: #fff;
}

#provide .card {
  border-radius: 1.375rem;
  min-width: 100%;
  min-height: 265px;
  height: auto;
  border: none;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

#provide .card-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 6px;
}

#provide .card-text {
  color: #676767;
  line-height: 21px;
  font-size: 0.7rem;
}

#provide .card-img {
  margin-top: 2em;
  margin-right: 15%;
  height: 100%;
}

#provide .card-img p {
  position: absolute;
  width: 80%;
  top: 130px;
  padding-right: 100px;
}

#provide .card-body {
  padding: 0;
}

@media (max-width: 992px) {
  #provide .card-img p {
    width: 50%;
  }
  #provide .h1 {
    width: 50%;
  }
}

@media (max-width: 568px) {
  #provide .card-img p {
    width: 80%;
  }
  #provide .h1 {
    width: 50%;
  }
}

#doctors {
  padding: 10% 0 10% 0;
}

#doctors .card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0071BB;
  color: #fff;
  border-radius: 0 22px 0 22px;
  text-align: center;
  width: 54px;
  margin-right: auto;
  height: 44px;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s;
}

#doctors .card-link:hover {
  width: 230px;
}

#doctors .card-link:hover .card-link-text {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#doctors .card-link-arrow {
  position: absolute;
  left: 3%;
}

#doctors .card-link-text {
  font-size: 0.7rem;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity .2s linear 0s;
  transition: opacity .2s linear 0s;
}

#doctors .view-all-link {
  text-decoration: none;
  color: #0071BB;
}

#doctors .view-all-link:hover, #doctors .view-all-link:visited {
  color: #0071BB;
}

#doctors .card {
  border: none;
}

@media (min-width: 992px) {
  #doctors .card {
    height: 453px;
  }
}

#doctors .card-title {
  text-align: center;
}

#doctors .card-text {
  text-align: center;
}

#doctors .card-img {
  border-radius: 1.375rem;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (min-width: 992px) {
  #doctors .card-img {
    height: 453px;
  }
}

#doctors .card-img-overlay {
  padding: 0;
}

#doctors .card-img-overlay .card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(24, 126, 193, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 22px 22px;
}

#doctors .owl-dots {
  padding-top: 42px;
}

#doctors .owl-theme .owl-dots .owl-dot span {
  background: #676767;
}

#doctors .owl-theme .owl-dots .owl-dot.active span, #doctors .owl-theme .owl-dots .owl-dot:hover span {
  background: #0071BB;
}

#doctors .owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

#doctors .circle-doctors {
  background: #F5E6E6;
  opacity: 0.5;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  right: -100px !important;
  top: 2350px;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  #doctors .circle-doctors {
    right: -150px;
    bottom: -2500px;
  }
}

@media (max-width: 768px) {
  #doctors .circle-doctors {
    right: -200px;
    bottom: -2800px;
  }
}

#doctors .small, #doctors .view-all-link, #doctors .h1, #doctors .h3 {
  z-index: 1;
}

.modal-body {
  padding: 0;
}

.modal-body .card {
  border: 0;
  border-radius: 22px;
}

.modal-body .card-img {
  border-radius: 22px;
}

.modal-body .card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #094F7D;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  border-radius: 0 0 22px 22px;
}

.modal-content {
  border: 0;
  background-color: transparent;
  border-radius: 22px !important;
}

.card-img-overlay {
  padding: 0;
}

.card-img-overlay a {
  color: #fff;
}

.card-img-overlay a:hover {
  color: #fff;
  text-decoration: none;
}

.close-circle {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}

#offers {
  background: #F5F5F5;
  padding: 10% 0 10% 0;
}

#offers .modal-body {
  padding: 0;
}

#offers .modal-body .card {
  border: 0;
  border-radius: 22px;
}

#offers .modal-body .card-img {
  border-radius: 22px;
}

#offers .modal-body .card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #094F7D;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  border-radius: 0 0 22px 22px;
}

#offers .modal-content {
  border: 0;
  background-color: transparent;
  border-radius: 22px !important;
}

#offers .card-img-overlay {
  padding: 0;
}

#offers .close-circle {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}

#offers .view-all-link {
  text-decoration: none;
  color: #0071BB;
}

#offers .view-all-link:hover, #offers .view-all-link:visited {
  color: #0071BB;
}

#offers .card {
  border: none;
  cursor: pointer;
}

#offers .card-img {
  border-radius: 1.375rem;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

#offers .card-img-overlay {
  padding: 0;
}

#offers .card-img-overlay .card-link {
  width: 25%;
  margin-right: 75%;
}

#offers .card-img-overlay .card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #094F7D;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 22px 22px;
}

#offers .owl-dots {
  padding-top: 42px;
}

#offers .owl-theme .owl-dots .owl-dot span {
  background: #676767;
}

#offers .owl-theme .owl-dots .owl-dot.active span, #offers .owl-theme .owl-dots .owl-dot:hover span {
  background: #0071BB;
}

#offers .owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

#news {
  padding: 10% 0 10% 0;
}

#news .news {
  display: inline;
}

#news .view-all-link {
  text-decoration: none;
  color: #0071BB;
  float: left;
}

#news .view-all-link:hover, #news .view-all-link:visited {
  color: #0071BB;
}

#news .card {
  border: none;
}

#news .card-img {
  border-radius: 1.375rem;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
}

#news .card-img-overlay {
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 38, 60, 0)), to(#04263c));
  background: linear-gradient(180deg, rgba(4, 38, 60, 0) 0%, #04263c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04263c",endColorstr="#04263c",GradientType=1);
  border-radius: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#news .card-img-overlay .card-date-news {
  font-size: 0.7rem;
  background: #0071BB;
  min-width: 82px;
  min-height: 82px;
  padding: 15px;
  color: #fff;
  border-radius: 0 22px 0 22px;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news .card-img-overlay .card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 22px 22px;
}

#news .owl-dots {
  padding-top: 42px;
}

#news .owl-theme .owl-dots .owl-dot span {
  background: #676767;
}

#news .owl-theme .owl-dots .owl-dot.active span, #news .owl-theme .owl-dots .owl-dot:hover span {
  background: #0071BB;
}

#news .owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

@media (max-width: 992px) {
  #news .news {
    display: block !important;
  }
  #news .view-all-link {
    float: right !important;
  }
}

#map {
  position: relative;
  height: auto;
}

#map iframe {
  height: 460px;
  width: 100%;
  border: none;
}

@media (max-width: 992px) {
  #map iframe {
    height: 880px;
  }
}

.send-message {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  height: 330px;
  background: #fff;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 22px;
}

@media (max-width: 768px) {
  .send-message {
    height: 450px;
  }
}

@media (max-width: 992px) {
  .send-message {
    top: 70px;
    bottom: auto;
    margin-right: 1.5%;
    min-width: 90%;
  }
  .send-message textarea {
    min-width: 90%;
  }
}

.send-message .card-link {
  position: absolute;
  bottom: 0;
  background: #0071BB;
  color: #fff;
  border-radius: 22px 0 22px 0;
  text-align: center;
  width: 54px;
  height: 44px;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s;
}

.send-message .card-link:hover {
  width: 200px;
}

.send-message .card-link:hover .card-link-text {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.send-message .card-link-arrow {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.send-message .card-link-text {
  font-size: 0.7rem;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity .2s linear 0s;
  transition: opacity .2s linear 0s;
}

.send-message textarea {
  max-width: 100%;
  width: auto;
}

.send-message .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22px;
  background: #0071BB;
  color: white;
  border-radius: 22px 0px;
  height: 44px;
}

.send-message .btn:hover .img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.send-message input[type='submit'] {
  margin-bottom: 0 !important;
  background: none;
  border: none;
  position: relative;
  top: 5px;
  color: white;
  display: inline-block;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  text-transform: uppercase;
  font-size: 0.7rem;
}

#insurance {
  background: #E5E5E5;
}

#insurance img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#insurance .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
}

#insurance .owl-carousel .owl-nav button.owl-prev:hover {
  background: none;
}

#insurance .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
}

#insurance .owl-carousel .owl-nav button.owl-next:hover {
  background: none;
}

#myFooter {
  background: white;
  font-size: 13px;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  padding-top: 5%;
}

#myFooter .form {
  border-bottom: 1px solid #999 !important;
  width: 90%;
}

#myFooter input[type=submit] {
  border: none !important;
  border-bottom: none !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline;
  color: #0071BB;
  text-transform: uppercase;
  background: none !important;
}

#myFooter input[type=email] {
  border: none !important;
  border-bottom: none !important;
  display: inline;
  width: 70% !important;
}

#myFooter .container {
  border-bottom: 1px solid #E5E5E5;
}

#myFooter .container p {
  color: #696969;
  font-weight: bold;
  margin-bottom: 4px;
  text-transform: uppercase;
}

#myFooter .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
  margin-bottom: 50px;
}

#myFooter .container li {
  margin: 8px 0 4px 0;
  color: #696969;
  list-style-position: inside;
}

#myFooter .container a {
  color: #696969;
  text-decoration: none;
}

#myFooter .container .social-icons img {
  height: 15px;
  width: auto;
}

.second-footer {
  font-size: 12px;
}

.second-footer .container {
  padding-top: 1%;
}

.second-footer .copy-rights {
  float: right;
}

.second-footer .terms {
  float: left;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }
  #myFooter .info {
    text-align: center;
  }
}

@media (max-width: 992px) {
  #myFooter .col-md-3, #myFooter .col-md-4 {
    display: none;
  }
  #myFooter .info {
    text-align: right;
  }
  #myFooter .social-icons a {
    padding: 0 1rem !important;
  }
  .second-footer .terms {
    float: right;
  }
}

.split-list ul {
  float: left;
  margin-left: 1em;
}

.split-list li {
  padding-right: 2em;
  line-height: 1.5em;
}

p, h1, h5, h6, img, li {
  text-align: right !important;
  direction: rtl !important;
}

.page-sub-title, h5, .h5, #about-us .card .card-title, h6, .h6 {
  letter-spacing: -0.5px;
}

* {
  font-family: 'Cairo', sans-serif;
  font-size-adjust: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: right;
  direction: rtl;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: .5rem;
}

#main-menu > nav > ul > li:nth-child(2) > a {
  margin-left: 0 !important;
  margin-right: 48px;
}

.banner span {
  padding-right: 0.5rem;
}

.banner img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-link-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#provide .card-link {
  border-radius: 0 22px;
}

#doctors .card-link {
  border-radius: 22px 0;
}

#search-page .search-card .visit-page {
  border-radius: 0 22px;
}

#search-page .search-card .visit-page img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#book-appointment form button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-date-news {
  border-radius: 22px 0 !important;
}

.view-all-link img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#myFooter form button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.booking-div .book {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}

#pagination {
  direction: ltr;
}

#about-us section:nth-of-type(even) .cont {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  #about-us section:nth-of-type(even) .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about-us section:nth-of-type(even) .card {
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}

@media (max-width: 1100px) {
  #about-us section:nth-of-type(even) .card {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    width: 90vw;
    height: auto;
  }
}

#about-us .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  #about-us .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about-us .card {
  -webkit-transform: translate(-20%, 0);
          transform: translate(-20%, 0);
  width: 645px;
  min-height: 275px;
  height: auto;
  border-radius: 22px;
  border: 0;
}

@media (max-width: 1100px) {
  #about-us .card {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    width: 90vw;
    height: auto;
  }
}

#about-us .card .card-title {
  font-weight: bold;
  width: 80%;
  line-height: 1;
}

@media (max-width: 586px) {
  #about-us .card .card-title {
    width: 40%;
  }
}

#about-us .img-cont {
  max-width: 90%;
  height: auto;
  margin-right: auto;
  height: 400px;
}

#about-us .hidden {
  width: 0;
}

#about-us .animate {
  -webkit-animation: width-anim 2s;
          animation: width-anim 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes width-anim {
  0% {
    width: 0;
  }
  100% {
    width: 677px;
  }
}

#careers .submit-file {
  right: 0;
}

#careers form button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#contact-us .working-hours {
  -webkit-transform: translate(-65%, 60%);
          transform: translate(-65%, 60%);
}

#doctors-single .card .card-img {
  border-radius: 0 22px 22px 0;
}

#doctors-single .booking-div .book {
  border-radius: 0 22px 0 22px;
  -webkit-transform: translateX(-80px) !important;
          transform: translateX(-80px) !important;
}

#doctors-single .booking-div .phone {
  border-radius: 0 22px 0 22px;
}

#faqs .card-body {
  border-radius: 22px 22px 0 0;
}

#faqs .btn {
  border-radius: 22px 0 0 22px;
}

#faqs .collapse-arrow {
  content: '';
  display: block;
  background: url("../img/arrow-up-small.png") no-repeat 0px 0px;
  height: 22px;
  /*height of icon */
  width: 11px;
  /*width of icon */
  position: absolute;
  top: -7px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 40%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#faqs .collapse-arrow[aria-expanded="true"] {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 7px;
}
/*# sourceMappingURL=styles_rtl.css.map */